.profile-posts {
  display: flex;
  flex-direction: column;
  color: white;
}

.section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 0.5fr));
  gap: 1rem;
}

.post-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: #282828;
  display: flex;
  align-items: center;
}

.post-image {
  width: 100%;
  /* border-radius: 8px; */

  /* height: 100%; */

  object-fit: contain;
}

.post-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
