<section class="posts">
  @for (post of posts; track $index) {
  <div class="post">
    <div class="post-header">
      <div class="user-info">
        @if (post.userAvatar){
        <img [src]="post.userAvatar" alt="Avatar" class="avatar" />
        } @else {
        <img
          src="/imgs/defaults/default_avatar.png"
          alt="Avatar"
          class="avatar"
        />

        }
        <span class="username">{{ post.username }}</span>
      </div>
      <span class="post-date">{{ post.date | date : "shortDate" }}</span>
    </div>
    <div class="post-content">
      <div class="carousel-container">
        <div class="carousel" [style.transform]="getCarouselTransform($index)">
          @for (image of post.pictures; track $index) {
          <div class="carousel-item">
            <img
              [src]="image.url"
              alt="Imagen del post"
              class="carousel-image"
            />
          </div>
          }
        </div>
        @if (post.pictures.length > 1){
        <button class="prev" (click)="prevImage($index)">&#10094;</button>
        <button class="next" (click)="nextImage($index)">&#10095;</button>

        }
      </div>
    </div>

    <div class="post-footer">
      <div class="icon-container">
        <div class="likes-container">
          <i class="fa fa-heart" (click)="likePost(post)"></i>
          <span class="like-counter">{{ post.likes }} likes</span>
        </div>
        <div class="comment-container" (click)="openComments(post)">
          <i class="fa fa-comment"></i>
          <span class="comment-counter"
            >{{ post.comments?.length }} comments</span
          >
        </div>
        <div class="share-container">
          <i class="fa fa-share"></i>
        </div>
      </div>
    </div>
    @if (post.message){
    <div class="post-message">
      {{ post.message }}
    </div>

    }
  </div>
  }
  <div
    class="comments-modal"
    [class.show]="selectedPost"
    (click)="closeModal($event)"
  >
    <div class="comments-modal-content" (click)="$event.stopPropagation()">
      <div class="comments-modal-header">
        <h3>Comments</h3>
        <button class="comments-modal-close" (click)="closeModal()">
          <img src="/imgs/defaults/close_icon.png" alt="close" />
        </button>
      </div>

      <div class="comments-modal-body">
        @for (comment of selectedPost?.comments; track $index) {
        <div class="comment">
          <img [src]="comment.userAvatar" alt="Avatar" class="comment-avatar" />
          <div class="comment-details">
            <span class="comment-username">{{ comment.username }}</span>
            <span class="comment-date">{{ formatDate(comment.date) }}</span>
            <p class="comment-text">{{ comment.content }}</p>
          </div>
        </div>
        }
      </div>

      <div class="comments-modal-footer">
        <input
          type="text"
          placeholder="Write a comment..."
          class="comment-input"
          maxlength="200"
          [(ngModel)]="newComment"
        />
        <button
          class="comment-submit"
          (click)="commentPost(selectedPost, newComment)"
        >
          Send
        </button>
      </div>
    </div>
  </div>
</section>

@if (showPostOptions){
<div class="new-post-modal-container">
  <div class="blur-background"></div>

  @if (activateSearch){
  <div class="search-container">
    <!-- Search Input -->
    <div class="search-input-wrapper">
      <input
        type="text"
        placeholder="Search movies..."
        class="search-input"
        [(ngModel)]="searchQuery"
        (keydown.enter)="onSearch()"
      />
    </div>

    <!-- Search Results  -->
    <div class="search-results">
      @for (media of filteredMedia; track $index) { @if (media.image){
      <div class="search-result-item">
        <img
          src="{{ media.image }}"
          alt="search item image"
          class="item-image"
        />

        <div class="item-info">
          <h3 class="item-title">{{ media.title }}</h3>
          @if (media.releaseDate){
          <p class="item-date">
            ({{ media.releaseDate | date : "dd/MM/yyyy" }})
          </p>
          } @else {
          <p class="item-author">({{ media.author }})</p>
          }
        </div>
      </div>

      } }
    </div>
  </div>
  } @else {

  <div class="new-post-modal-content">
    <div class="new-post-button-wrapper">
      <button class="new-post-option-button" (click)="searchMedia('movies')">
        <img
          src="/icons/home/films-tvShows.png"
          alt="Films / TV shows"
          class="new-post-option-img"
        />
      </button>
      <span class="new-post-button-name">Films / TV shows</span>
    </div>
    <div class="new-post-button-wrapper">
      <button class="new-post-option-button" (click)="searchMedia('games')">
        <img
          src="/icons/home/games.png"
          alt="Games"
          class="new-post-option-img"
        />
      </button>
      <span class="new-post-button-name">Games</span>
    </div>
    <div class="new-post-button-wrapper">
      <button class="new-post-option-button" (click)="searchMedia('books')">
        <img
          src="/icons/home/books.png"
          alt="Books"
          class="new-post-option-img"
        />
      </button>
      <span class="new-post-button-name">Books</span>
    </div>
    <div class="new-post-button-wrapper">
      <button class="new-post-option-button" (click)="searchMedia('music')">
        <img
          src="/icons/home/music.png"
          alt="Music"
          class="new-post-option-img"
        />
      </button>
      <span class="new-post-button-name">Music</span>
    </div>
  </div>
  }
</div>

}
