<div class="preview-container">
  <section class="preview-carousel">
    <div class="carousel-container">
      <div class="carousel" [style.transform]="getCarouselTransform()">
        @for (image of images; track $index) {
        <div class="carousel-item">
          <img [src]="image" alt="Imagen seleccionada" class="carousel-image" />
        </div>
        }
      </div>
      @if (images.length > 1){
      <button class="prev" (click)="prevImage()">&#10094;</button>
      <button class="next" (click)="nextImage()">&#10095;</button>

      }
    </div>

    <div>
      @if(images.length < 8){
      <input
        type="file"
        accept="image/*"
        multiple
        (change)="onImageUpload($event)"
        id="imageInput"
        style="display: none"
      />
      <button class="upload-img" (click)="triggerFileInput()">
        Upload pictures
      </button>

      }
    </div>
    <div class="thumbnails">
      @for (image of images; track $index) {
      <div
        class="thumbnail"
        [class.active]="$index === currentImageIndex"
        (click)="goToImage($index)"
      >
        <img [src]="image" alt="Miniatura" />
      </div>

      }
    </div>

    <div class="description-input">
      <textarea
        placeholder="Add a description..."
        [(ngModel)]="description"
        class="description"
      ></textarea>
    </div>
  </section>
</div>
