<footer class="footer" [class.active]="footerActive">
  <div class="stories">
    @for (story of stories; track $index) {
    <div class="story" (click)="showStory(story)">
      <img [src]="story.userAvatar" alt="Story user avatar" />
      <span>{{ story.username }}</span>
    </div>
    }
  </div>

  <button class="add-story" (click)="triggerFileInput()">
    <span>+</span>
  </button>

  <input
    type="file"
    #fileInput
    accept="image/*"
    (change)="handleFileInput($event)"
    style="display: none"
  />

  <!-- Preview new story -->
  @if (previewImage){
  <div class="new-story-modal" (click)="closeModal($event)">
    <div class="new-story-modal-content">
      <img [src]="previewImage" alt="Preview" />
      <div class="new-story-modal-buttons">
        <button (click)="uploadStory()">Subir Historia</button>
        <button (click)="cancelUpload()">Cancelar</button>
      </div>
    </div>
  </div>

  }

  <!-- Stories viualization -->
  @if (currentStory){
  <div class="story-viewer">
    <div class="progress-bar-container">
      @for (story of currentStory.stories; track $index) {
      <div
        class="progress-bar"
        [class.active]="$index <= currentStoryIndex"
      ></div>
      }
    </div>

    <div class="story-viewer-header">
      <img
        [src]="currentStory.userAvatar"
        class="avatar-small"
        alt="User Avatar"
      />
      <p>{{ currentStory.username }}</p>
      <button class="close-button" (click)="closeStoryViewer()">×</button>
    </div>

    <div class="story-content">
      <img
        [src]="currentStory.stories[currentStoryIndex].media[0].url"
        class="story-image"
        alt="Story Image"
      />
    </div>

    <div class="story-navigation">
      <div class="nav-left" (click)="previousStory()"></div>
      <div class="nav-right" (click)="nextStory()"></div>
    </div>
  </div>
  }
</footer>

<button
  class="toggle-footer"
  (click)="toggleFooter()"
  [class.active]="footerActive"
  [class.hide]="hideFooter"
>
  <span>+</span>
</button>
