<header class="profile-header">
  <div class="avatar-container">
    <img
      [src]="user.avatar"
      alt="User Avatar"
      class="avatar"
      (click)="onAvatarClick()"
    />
  </div>
  <div class="user-info">
    <h1 class="username">{{ user.username }}</h1>
    <div class="stats">
      <span
        ><strong>{{ postsCount }}</strong> Posts</span
      >
      <span
        ><strong>{{ followers.length }}</strong> Followers</span
      >
      <span
        ><strong>{{ following.length }}</strong> Following</span
      >
    </div>
  </div>
</header>

@if (showModal){
<div class="new-avatar-modal" (click)="closeModal($event)">
  <div class="new-avatar-modal-content" (click)="stopPropagation($event)">
    <h2>Confirm new avatar</h2>
    <p>Do you want to use this picture as your new avatar?</p>
    <img [src]="previewImage" alt="Preview Avatar" class="avatar-preview" />
    <div class="new-avatar-modal-actions">
      <button (click)="cancelAvatarChange()">Cancel</button>
      <button (click)="confirmAvatarChange()">Confirm</button>
    </div>
  </div>
</div>

}
