<header class="profile-header">
  <div class="avatar-container">
    <img [src]="user.avatar" alt="User Avatar" class="avatar" />
  </div>
  <div class="user-info">
    <h1 class="username">{{ user.username }}</h1>
    <p class="bio">{{ user.bio }}</p>
    <div class="stats">
      <span
        ><strong>{{ postsCount }}</strong> Posts</span
      >
      <span
        ><strong>{{ followers.length }}</strong> Followers</span
      >
      <span
        ><strong>{{ following.length }}</strong> Following</span
      >
    </div>
  </div>
</header>
