.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  color: white;
}

.avatar-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ddd;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  font-size: 1.5rem;
  font-weight: bold;
}

.stats {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.stats span {
  color: #eee;
}

@media (min-width: 768px) {
  .avatar-container {
    width: 150px;
    height: 150px;
  }

  .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .username {
    font-size: 1.8rem;
  }

  .stats {
    display: flex;
    gap: 1.4rem;
    font-size: 1.1rem;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
  }
}

/* new Avatar modal */

.new-avatar-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.new-avatar-modal-content {
  background-color: #3b2058;
  color: #eee;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.new-avatar-modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.new-avatar-modal-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-avatar-modal-actions button:first-child {
  background-color: #921a26;
  color: #fff;
}

.new-avatar-modal-actions button:last-child {
  background-color: #007bff;
  color: #fff;
}

.avatar-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  .new-avatar-modal-content {
    max-width: 500px;
  }

  .new-avatar-modal-content h2 {
    font-size: 2rem;
  }

  .new-avatar-modal-content p {
    margin-top: 10px;
    font-size: 1rem;
  }

  .new-avatar-modal-actions {
    justify-content: space-evenly;
  }

  .new-avatar-modal-actions button {
    font-size: 1rem;
    padding: 10px 15px;
  }

  .avatar-preview {
    width: 9rem;
    height: 9rem;
    margin-bottom: 10px;
  }
}
