<div class="body">
  <div class="notifications-container">
    <h2 class="title">Notifications</h2>

    @for (group of groupedNotifications; track $index) {
    <div class="group">
      @if (group.items[0]){
      <h3 class="group-title">{{ group.title }}</h3>
      @for (notification of group.items; track $index) {
      <div class="notification">
        <img [src]="notification.user_avatar" alt="User photo" class="photo" />
        <div class="content">
          <p class="message">{{ notification.content }}</p>
          <span class="date">{{ notification.created_at | date }}</span>
        </div>
      </div>
      } }
    </div>
    }
  </div>
</div>
